:root {
  --bg-primary: #333333;
  --bg-secondary: #000000;

  --color-primary: #ffffff;
  --color-secondary: #828282;
  --color-tertiary: #FF63AF;
  --color-tertiary-hover: #fd4fa3;

  --result-good: #198754;
  --result-neutral: #F99245;
  --result-danger: #DC3545;

  --btn-height: 40px;
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 4px var(--color-tertiary);
}

html,
body {
  background-color: var(--bg-primary);
  scroll-behavior: smooth;
  color: var(--color-primary);

  font-family: 'Inter', sans-serif;
}

form { margin: 0; }

.navbar {
  min-height: 86px;
}

.navbar-brand {
  font-family: 'Lexend Exa', sans-serif;
  font-size: 22px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1);}
}

.navbar-brand > i { color: var(--color-tertiary); }
.navbar-brand:hover > i { animation: pulse 1s infinite; }

.navbar #csv-import-form {
  width: min(100%, 312px);
  height: var(--btn-height);
  display: flex;
  font-size: small;
  color: #000000;
}

.navbar #csv-import-form input { display: none; }

.navbar #csv-import-form label {
  cursor: pointer;
  padding-inline: 1rem;
  width: 55%;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--color-secondary);
  border: 2px solid var(--color-tertiary);
  border-radius: .5rem 0 0 .5rem;
  transition: all .2s ease-in-out;
  white-space: nowrap;
}

.navbar #csv-import-form label > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar #csv-import-form label:hover {
  background-color: rgba(51, 51, 51, .1);
}

.navbar #csv-import-form button[type="submit"] {
  padding-inline: 1rem;
  width: 45%;
  border-radius: 0 .5rem .5rem 0;
  background-color: var(--color-tertiary);
  font-weight: 500;
  color: #000000;
  border: none;
  transition: all .2s ease-in-out;
}

.navbar #csv-import-form button[type="submit"]:hover {
  background-color: var(--color-tertiary-hover);
}

main > .header {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main > .header > div > .title {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
}

main > .header > div > #results-count {
  font-weight: 600;
  color: var(--color-tertiary);
}

main > .header > .search-form {
  position: relative;
  margin: 0;
  width: min(100%, 312px);
}

main > .header > .search-form > input {
  padding: 0 3rem 0 1rem;
  width: min(100%, 312px);
  height: var(--btn-height);
  color: var(--color-primary);
  background-color: var(--bg-secondary);
  border: none;
  border-radius: .5rem;
}

main > .header > .search-form > button[type="submit"] {
  position: absolute;
  top: 0; right: 0;
  padding-inline: 1rem; 
  height: var(--btn-height);
  background-color: transparent;
  border: none;
  border-radius: .5rem;
}

main > .header > .search-form > button[type="submit"] > i {
  color: var(--color-secondary);
  transition: all .2s ease-in-out;
}

main > .header > .search-form > button[type="submit"]:hover > i {
  color: var(--color-primary);
}

#exams {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.exam-card {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--bg-secondary);
  border-radius: .5rem;
}

.exam-card--header {
  display: flex;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.exam-card--header > div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.exam-card--header > div:first-of-type { width: 126px; }
.exam-card--header > div:last-of-type { width: 100%; }

.exam-card--header > i {
  color: var(--color-secondary);
  transition: all .2s ease-in-out;
}

.exam-card--header:hover > i { color: var(--color-primary); }

.exam-card--header i.active { transform: rotate(180deg); }

.exam-card--header .exam-card--title {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 20px;
}

.exam-card--header .exam-card--text {
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 18px;
}

.exam-card--body {
  display: none;
  transition: all .5s ease-in-out;
}

.exam-card--body.visible {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.test-result-good { color: var(--result-good); }
.test-result-neutral { color: var(--result-neutral); }
.test-result-danger { color: var(--result-danger); }

table {
  width: 100%;
  table-layout: fixed;
  border-radius: .5rem;
}

table, th, td {
  border: 1px solid #414141;
  border-collapse: separate;
  border-spacing: 0;
}

th, td {
  padding: 1rem;
  height: 56px;
  font-weight: 600;
}

thead > tr { background-color: rgba(255, 255, 255, 0.15); }
thead > tr > th:first-of-type { border-radius: .5rem 0 0 0; }
thead > tr > th:last-of-type { border-radius: 0 .5rem 0 0; }

tbody > tr > td {
  color: var(--color-secondary);
}

tbody > tr:nth-child(even) { background-color: rgba(255, 255, 255, 0.04); }
tbody > tr:last-of-type > td:first-of-type { border-radius: 0 0 0 .5rem; }
tbody > tr:last-of-type > td:last-of-type { border-radius: 0 0 .5rem 0; }
